<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>注文履歴一覧</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>注文日</th>
                        <th>配送先</th>
                        <th>注文商品</th>
                        <th>支払金額</th>
                        <th>ステータス</th>
                        <th>注文詳細</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1990/11/1</th>
                        <td>
                            080-0802
                            <br>ほっかいどう
                            <br>のかき
                        </td>
                        <td>クロワッサン</td>
                        <td>10000円</td>
                        <td>未発送</td>
                        <td>ボタン</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

