
<div class="d-flex flex-column mx-auto">
  <h2 class="d-flex align-items-center justify-content-center">ご注文ありがとうございました！</h2>
  <p class="flex mx-auto mt-2">トップページは<%= link_to "コチラ", root_path %></p>
</div>