<h3>マイページ</h3>
<div>
    <h3>登録情報</h3>
    <!--リンク先を設定-->
    <%= link_to '編集する' %>
</div>

<div>
    <table border = "1", style = "border-collapse: collapse">
        <!--each文記載(インスタンス変数はcontrollers/customersに設定すること)-->
        <tr>
            <td>氏名</td>
            <td>customerの名前(family_name + given_name)</td>
        </tr>
        <tr>
            <td>カナ</td>
            <td>customerのカナ(ruby_family_name + ruby_given_name)</td>
        </tr>
        <tr>
            <td>郵便番号</td>
            <td>customerのpostal_code</td>
        </tr>
        <tr>
            <td>住所</td>
            <td>customerのaddress</td>
        </tr>
        <tr>
            <td>電話番号</td>
            <td>customerのtel</td>
        </tr>
        <tr>
            <td>メールアドレス</td>
            <td>customerのemail</td>
        </tr>
        <!--each文ここまで-->
    </table>
</div>

<div>
    <h3>配送先</h3>
    <!--リンク先を設定-->
    <%= link_to '一覧を見る' %>
</div>

<div>
    <h3>注文履歴</h3>
    <!--リンク先を設定-->
    <%= link_to '一覧を見る' %>
</div>