<h2>ショッピングカート</h2>
<h2>カートを空にする</h2>

<table class="table table-striped">
  <tr>
    <th>商品名</th>
    <th>単価（税込）</th>
    <th>数量</th>
    <th>小計</th>
    <th></th>
  </tr>
  <tr>
    <td>チョコ</td>
    <td>300</td>
    <td>3</td>
    <td>900</td>
    <td>削除する</td>
  </tr>
</table>

<p>
  <%= link_to orders_index_path do %>
    <input type="button" value="入力情報に進む" >
  <% end %>
</p>