<h3>注文履歴一覧</h3>
  
  order_detailsのインスタンス変数を受け取る
  <table>
    <tr>
      <td>購入日時</td>
      <td>購入者</td>
      <td>注文個数</td>
      <td>注文ステータス</td>
    </tr>
    <tr>
      <td>
        <%= link_to '12:30', admins_order_detail_path(2) %>
      </td>
      <td>令和道子</td>
      <td>50000</td>
      <td>発送済み</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>