<div class="container">
    <div class="row">
        <div class="col-md-8">
            <%= image_tag 'nagano.png' %>
            <h1>商品名</h1>
            <p>商品説明</p>
            <p>金額</p>
            <p>個数</p>
            <p>カートに入れるボタン</p>

        </div>
    </div>
</div>

