// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


th,td {
  border:solid 1px #aaaaaa;
  padding: 5px 15px;
}

table {
	border-collapse: collapse ;
}

// th {
//   background-color: #f0f2f7;
// }