<% if resource.errors.any? %>
　<div class="alert alert-danger alert-dismissible">
    <button class="close" data-dismiss="alert">&times;</button>
    <h3>入力した内容にエラーが<%= resource.errors.count %>件あります</h3>
    <ul class="list-group">
      <% resource.errors.full_messages.each do |message| %>
        <li class="list-group"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

