<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
   <header>
       <h3>
          <a href="/"><img src="/assets/nagano.png"></a>
       </h3>
       <nav>
          <ul>
             <li class="nav"><a href="#">About</a></li>
             <li class="nav"><a href="#">商品一覧</a></li>
             <li class="nav"><a href="#">新規登録</a></li>
             <li class="nav"><a href="#">ログイン</a></li>
          </ul>
       </nav>
    </header>
    
    <div class="yield">
    <%= yield %>
    </div>
  </body>
</html>
